
/* Temperature visualisation */
.line_tmp {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
.axis path,
.axis .line_tmp {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
/* Death map visualisation*/
#death {
    position: relative
}
.dot {
    border-radius: 50%;
    display: inline-block;
}
.big.dot {
    height: 25px;
    width: 25px;
    position: relative;
    top: 5px;
}
.small.dot {
    height: 10px;
    width: 10px;
}
.trapezoid {
    width: 25px;
    height: 25px;
    transform: skew(-20deg);
    display: inline-block;
}

/*slide visualisation*/
svg {
    border-radius: .25rem;
    background-color: white;
}
#vocal {
    width: 100%;
}
#viz-description{
    text-align: justify;
}
#prev, #next {
    width: 40%;
}
body{
    background-color: rgb(97, 97, 97);
}
